<main role="main" class="mainBody" #main tabindex="-1">
    <div class="">
        <div class=" intropart" style="position: relative;max-width: 100%;margin: auto;">
            <div class="mainTitle">
                Picking an @sign
            </div>
        </div>
    </div>

    <div class="container" style="position: relative;max-width: 100%;margin: auto;">

        <div class="row permissions">

            <div class="col-md-8 offset-md-2 d-flex mt-5 justify-content-center flex-column mb-3">
                <div class="faq-question">Tips on Picking an @sign
                </div>
                <div class="faq-answer mt-2">

                    We haven’t opened our site to the public, but what do you do if your @sign has already been taken?

                    <br>
                    <div class="mt-3">Here are some tips for picking your @sign:
                    </div>
                    <ul class="mt-3">
                        <li>
                            An @sign is forever, so think of it as your brand. Something that seems funny today, might
                            not in the future.
                        </li>
                        <li>
                            Mix it up. If your first name last name combination is taken, try
                            <ul>
                                <li>
                                    first initial and last name
                                </li>
                                <li>
                                    first name and last initial
                                </li>
                                <li>
                                    throw a middle initial into the mix
                                </li>
                                <li>
                                    last name and first name
                                </li>
                            </ul>
                        </li>
                        <li>
                            Use an underscore between your name or initial
                        </li>
                        <li>
                            The shorter the better. A short @sign will fit easily on business cards and anywhere else
                            you want to post it.
                        </li>

                    </ul>
                    <br>
                </div>
            </div>


        </div>
    </div>
</main>
<app-home-common></app-home-common>