  <main role="main" class="mainBody" #main tabindex="-1">
    <div class="">
      <div class=" intropart" style="position: relative;max-width: 100%;margin: auto;">
        <div class="mainTitle">
          FAQs
        </div>
      </div>
    </div>

    <div class="container" style="position: relative;max-width: 100%;margin: auto;">

      <div class="row permissions">

        <div class="col-md-8 offset-md-2 d-flex mt-5 justify-content-center flex-column">
          <div class="faq-question">Q: What can I do with my @sign?</div>
          <div class="faq-answer mt-2">@: Nothing yet, but soon we will be announcing applications that will work with
            your
            @sign. If you didn’t check the box to sign up for notifications of new applications, please do that <a
              href="/dashboard" class="standard-color">here</a>. Of course, to be cool and ahead of the wave, you can sign all your email and messages with it and have it put on your clothes!!!
          </div>
        </div>
        <div class="col-md-8 offset-md-2 d-flex mt-4 justify-content-center flex-column">
          <div class="faq-question">Q: What types of applications are in the works?</div>
          <div class="faq-answer mt-2">@: Find me: The first app will let you enter public information and display it in a nice
            format and we will have a great one for influencers which will include their offers!.
            <br /><br />
            Buzz: We are working on a peer-to-peer contacts app so that the only contact that you will ever have to keep up-to-date is your own! Everyone will update their own contact datas for you.  You will have the ability to store all your different personas in this and share as appropriate.
            <br />
            <br />
            Julz: We are also working on the <a href="https://www.youtube.com/watch?v=ttvNpz9XAmM" target="_blank" class="standard-color">Julz
              Vault App</a>
            <br /><br />
            Add name: We are also working on a file-sharing app - think Air Drop, but for all devices, and all locations.
            <br /><br />
            Have an idea for an app that you would like to see? <a href="mailto: app_ideas@atsign.com"
              class="standard-color">Let us know</a>!
          </div>
        </div>
        <div class="col-md-8 offset-md-2 d-flex mt-5 justify-content-center flex-column">
          <div class="faq-question">Q: How are these apps different from what is available today?</div>
          <div class="faq-answer mt-2">@: Well first of all they will use your @sign, so signing up will be a breeze,
            secondly they will respect your privacy, You can be guaranteed that these apps won’t spy on you. We want to
            make these apps fun as well. Have an app that you would like to see?
            <a href="mailto:app_ideas@atsign.com" class="standard-color"> Let us know</a>.
          </div>
        </div>
        <div class="col-md-8 offset-md-2 d-flex mt-5 justify-content-center flex-column">
          <div class="faq-question">Q: Will you let me know when new apps are available?</div>
          <div class="faq-answer mt-2">@: Yes! Once you sign up for your @sign you will see a checkbox for allowing us
            to notify you when we have new apps. Please make sure that box is checked!
          </div>
        </div>
        <div class="col-md-8 offset-md-2 d-flex mt-5 justify-content-center flex-column">
          <div class="faq-question">Q: What do I have to do to renew my @sign?</div>
          <div class="faq-answer mt-2">@: If you have a free @sign, nothing. If you have a paid for sign, you will need
            to renew it each year. We want to make sure that you are using your @sign, and if not, make sure it is
            available to someone else. The renewal price is $10/year.
          </div>
        </div>
        <div class="col-md-8 offset-md-2 d-flex mt-5 justify-content-center flex-column">
          <div class="faq-question">Q: Can I transfer/sell my @sign to someone else?</div>
          <div class="faq-answer mt-2">@: Yes, we will soon have a way for you to do that. If you need to do that
            immediately, please email us at transfer@atsign.com. In addition, as the value of @custom signs increases you will be able to charge for a special @sign if you own it.
          </div>
        </div>
        <div class="col-md-8 offset-md-2 d-flex mt-5 justify-content-center flex-column">
          <div class="faq-question">Q: If someone knows my @sign, what information will they see about me?</div>
          <div class="faq-answer mt-2">@: If someone does a look up on your @sign, they will see your public information. You control what public information is available and can change and update as you need to – which will automatically update anyones contact information on you through buzz.   We will soon have an app that will let you easily set up your public profile.
          </div>
        </div>
        <div class="col-md-8 offset-md-2 d-flex mt-5 justify-content-center flex-column">
          <div class="faq-question">Q: How much does an @sign cost?</div>
          <div class="faq-answer mt-2">@: We have a free @sign generator. You can have any @sign using that tool for free. You can also buy a custom @sign. Multiple words, or first name/last name are $100. Single words and names are $1000 (because there are so few of these) and three characters are $5000. Please don’t buy a trademarked name, as the owner of that trademark will have the rights to it.
          </div>
        </div>
        <div class="col-md-8 offset-md-2 d-flex mt-5 justify-content-center flex-column">
          <div class="faq-question">Q: How about my current apps? Will they start using my @sign and protect my privacy?</div>
          <div class="faq-answer mt-2">@: We expect that many of your current apps will transition over time. But their adoption will be slower and will happen most likely when they feel the pressure from their customers.
          </div>
        </div>
        <div class="col-md-8 offset-md-2 d-flex mt-5 mb-5 justify-content-center flex-column">
          <div class="faq-question">Q: Will there be apps for me to communicate with the companies I do business with?</div>
          <div class="faq-answer mt-2">@:  Our vision is we will have business, government and social apps.  As the internet grew from communications to content and then commerce – our vision is that all the 3 Cs will be using @signs in the future.
          </div>
        </div>
      </div>
    </div>
</main>
<app-home-common></app-home-common>
