<div>
    <form>
        <div>
            <h1 class="invite-head ml-5">
                <span *ngIf="allAtsigns">Transferred @sign list</span>
            </h1>
            <mat-card class="get-invited-card">
                <div fxLayout="row">
                    <div class="row mr-2">
                        <div class="col-12 text-right">
                            <mat-form-field>
                                <input matInput placeholder="Search" #input>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="mat-elevation-z8 tablescroll" [hidden]="allAtsigns && allAtsigns.length === 0">

                    <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
                        <ng-container matColumnDef="id">
                            <mat-header-cell style="max-width: 70px" *matHeaderCellDef mat-sort-header> Id
                            </mat-header-cell>
                            <mat-cell style="max-width: 70px" *matCellDef="let row; let i = index;" data-label="id"
                                title=' '> {{ (i+1) + (atsignsPaginator.pageIndex * atsignsPaginator.pageSize) }}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="createdAt">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Transfer date
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" data-label="type">
                                {{row.createdAt |date: 'MM/dd/yyyy'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="atsign">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> @sign Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" data-label="type">
                                {{row.atsign}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="oldOwnerEmail">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Transfer By
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" data-label="type">
                                {{row.oldOwnerEmail}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="newOwnerEmail">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Transfer To
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" data-label="type">
                                {{row.newOwnerEmail}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                    </mat-table>

                    <mat-paginator (page)="pageEvent = $event; onPaginateChange($event)" #atsignsPaginator
                        [length]="totatData" [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
                </div>
            </mat-card>
        </div>
    </form>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise"></ngx-spinner>
<div *ngIf="dataSise">
    <h1 class="invite-head ml-4 mt-5 mb-5 text-center">
        <span>No Records Found !!!</span>
    </h1>
</div>