<!-- ========= atsign transfer =============== -->
<h1 mat-dialog-title> Here, you can transfer your <span class="atsignText">@{{data['atsignName']}}</span> </h1>

<div mat-dialog-content>
  <form [formGroup]="atsignTransferForm" (ngSubmit)="atsignTransfer(data)" class="mt-4">
    <div class="form-group col-12">
      <!-- <label>Email :</label> -->
      <input formControlName="atsignEmail" class="form-control" placeholder="Email address"
        (change)="inviteMessage = false" [ngClass]="{ 'is-invalid': submitted && atsignFormControl.atsignEmail.errors }"
        type="text" />
      <div *ngIf="submitted && atsignFormControl.atsignEmail.errors" class="invalid-feedback">
        <div *ngIf="atsignFormControl.atsignEmail.errors.required">Valid Email is required</div>
      </div>
    </div>
    <div class="col-md-12 text-danger mb-2" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>
    <div class="col-md-12 text-danger mb-2" *ngIf="inviteMessage">
      Uh oh, this person doesn't exist in our system yet. Click <span (click)="inviteUser()"
      class="pointer-cursor acolor">here</span> to invite them. Once this person is active, try again to transfer your @sign.
      </div>
    <div class="col-md-12 text-success mb-2" *ngIf="successMessages">
      {{successMessages}}
    </div>
    <div class="form-group col-12">
      <button type="submit" class="selected btn rounded-pill shadow">Transfer</button>
    </div>
  </form>
</div>
<div mat-dialog-actions>