<div mat-dialog-title>
    <h4 style="margin: auto" class="text-ellipsis">Change Password {{data.email ? ': ' : ''}}
        {{data.email}}</h4>
    <span> <i class="fa fa-times-circle mr-2" (click)="onNoClick()"></i>
    </span>
</div>
<!-- <form #addUserForm="ngForm" class="mt-4">
    <div class="col-12" *ngIf="!(data && data.fromGrid)">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Enter Old Password</mat-label>
            <input matInput type="password" id="oldPassword" name="oldPassword" aria-describedby="oldPassword"
                placeholder="Enter Old Password" #oldPassword="ngModel" [(ngModel)]="model.oldPassword" required
                [ngClass]="{'mat-form-field-invalid' :formValidation && !oldPassword.required }"
                (ngModelChange)="formValidation=false;">
        </mat-form-field>
    </div>
    <div class="col-12">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Enter New Password</mat-label>
            <input matInput type="password" id="newPassword" name="newPassword" aria-describedby="newPassword"
                placeholder="Enter New Password" autocomplete="off" maxlength="256" #newPassword="ngModel"
                [(ngModel)]="model.newPassword" required
                [ngClass]="{'is-invalid' :formValidation && !newPassword.required }"
                (ngModelChange)="formValidation=false;">
        </mat-form-field>
    </div>
    <div class="col-12">
        <mat-form-field appearance="outline" class="w-100 mat-form-field-invalid">
            <mat-label>Confirm New Password</mat-label>
            <input matInput type="password" id="confirmNewPassword" name="confirmNewPassword"
                aria-describedby="confirmNewPassword" placeholder="Confirm New Password" #confirmNewPassword="ngModel"
                [(ngModel)]="model.confirmNewPassword" required
                [ngClass]="{'is-invalid' :formValidation && !confirmNewPassword.required }"
                (ngModelChange)="formValidation=false;">
        </mat-form-field>
    </div>
    <div class="col-md-12 text-danger text-right" *ngIf="formValidation">
        All fields required
    </div>
    <div class="col-md-12 text-danger text-right" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
    </div>
    <div class="col-12 mt-3">
        <button title="Add one more @sign" class="addButton" type="button"
            (click)="changePassword(model.oldPassword, model.newPassword, model.confirmNewPassword)">Change
            Password</button>
    </div>
</form> -->

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mt-4">

    <div class="form-group col-12" *ngIf="!(data && data.fromGrid)">
        <label>Old Password</label>
        <input formControlName="oldPassword" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && getFormControl.oldPassword.errors }" 
            [type]="hideOld ? 'password' : 'text'"/>
            <mat-icon class="eyeIcon pointer-cursor" (click)="showPassword('hideOld')">{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
        <div *ngIf="submitted && getFormControl.oldPassword.errors" class="invalid-feedback">
            <div *ngIf="getFormControl.oldPassword.errors.required">Old Password is required</div>
        </div>
    </div>
    <div class="form-group col-12">
        <label>New Password</label>
        <input formControlName="newPassword" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && getFormControl.newPassword.errors }" 
            [type]="hideNew ? 'password' : 'text'"/>
            <mat-icon class="eyeIcon pointer-cursor" (click)="showPassword('hideNew')">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
            <div *ngIf="submitted && getFormControl.newPassword.errors" class="invalid-feedback">
                <div *ngIf="getFormControl.newPassword.errors.required">New Password is required</div>
            <div *ngIf="getFormControl.newPassword.errors.minlength">New Password must be at least 6 characters</div>
            <div *ngIf="getFormControl.newPassword.errors.maxlength">New Password should not exceed 25 characters</div>
            <div *ngIf="getFormControl.newPassword.errors.pattern">Password must contain at least one lowercase char, one uppercase char, one number, and one special character</div>
        </div>
    </div>
    <div class="form-group col-12">
        <label>Confirm Password</label>
        <input formControlName="confirmPassword" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && getFormControl.confirmPassword.errors }" 
        [type]="hideConfirm ? 'password' : 'text'"/>
        <mat-icon class="eyeIcon pointer-cursor" (click)="showPassword('hideConfirm')">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        <div *ngIf="submitted && getFormControl.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="getFormControl.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="getFormControl.confirmPassword.errors.mustMatch">New password and confirm password should be same</div>
        </div>
    </div>
    <div class="col-md-12 text-danger text-right mb-2" *ngIf="formValidation">
        All fields required
    </div>
    <div class="col-md-12 text-danger text-right mb-2" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
    </div>
    <div class="form-group col-12">
        <button class="addButton">Change Password</button>
    </div>
</form>