<div class="annual-fee-disclaimer">
  <!--An annual renewal fee of $10/yr/@sign is required to maintain your custom @sign. There
  is no maintenance fee for free @signs. A reminder will be emailed to you 60 days before expiration which is 1 year
  from date of purchase. -->
  <strong>Annual Fees:</strong>  You’ll be asked to pay an annual renewal fee of $10 for each paid @sign that you own. (This fee
does not apply to free @signs.) We’ll send you a reminder email 60 days before your @sign
expires, which is one year after the date of purchase.
</div>