<main role="main" class="mainBody" #main tabindex="-1">
  <div class="">
    <div class=" intropart" style="position: relative;max-width: 100%;margin: auto;">
      <div class="mainTitle">
        Careers
      </div>
    </div>
  </div>

  <div class="container" style="position: relative;max-width: 100%;margin: auto;">
    <div>
      <h3 class="careerHead mt-4">Careers at The @ Company…</h3>
      <h4 class="careerSubHead mb-4">Something big and really exciting!</h4>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 coloredSection">
        <a href="javascript: void(0);" class="standard-color" >Business/Marketing Internship</a>
        <a href="javascript: void(0);" class="standard-color" > App Developer Internship (Dart, Flutter)</a>
      </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10 col-sm-8 careerContent">
            <h3 class="careerHead mt-5 text-left">Title: Business/Marketing Internship</h3>
            <div>
              <span>
                Dates: Monday, June 8 to Friday, July 31, 2020 (option to continue another month of desired) <br />
                Location: Remote<br />
                Paid: Yes!
              </span>
      
              <h4>Internship Description</h4>
              <span>
                The @ Company is a Silicon Valley Company with an innovation we are calling the IofP (Internet of People). We
                plan to launch October 2020 and have several exciting projects for the Summer of 2020.
              </span>
              <span class="mt-3"> We are seeking two college interns or recent college grads who are passionate about our mission, have
                strong communication skills, and have a strong interest in building an internet for people.
              </span>
              <h4> Responsibilities </h4>
      
              <span>Responsibilities include: (1) market and consumer research and competitive analysis, (2) coordination of
                weekly meet-up groups and feedback from customers, (3) preparation of social media launch activities, and (4)
                the possibility of writing of a white paper that you co-author with one of our founders.
              </span>
              <h4>Skills Needed</h4>
      
              <span>
                Skills needed for this internship include: (1) Social media creating and posting, (2) marketing and
                competitive research writing and reports, and (3) The four C’s (Communication, Critical Thinking,
                Collaboration, and Creativity).
              </span>
              <span class="mt-3">
                Interested applicants should submit by May 10, 2020: Please send an email to denise@atsign.com (1) Resume and
                (2) a brief statement of why you would want an @sign and what app you would use an @sign with.
              </span>
            </div>

            <hr class="mt-5 mb-5" />
        </div>

    </div>

    <div class="row justify-content-center">
        <div class="col-10 col-sm-8 careerContent">
            <h3 class="careerHead mt-5 text-left">Title: Business/Marketing Internship</h3>
            <div>
              <span>
                Dates: Monday, June 8 to Friday, July 31, 2020 (option to continue another month of desired) <br />
                Location: Remote<br />
                Paid: Yes!
              </span>
      
              <h4>Internship Description</h4>
              <span>
                The @ Company is a Silicon Valley Company with an innovation we are calling the IofP (Internet of People). We
                plan to launch October 2020 and have several exciting projects for the Summer of 2020.
              </span>
              <span class="mt-3"> We are seeking two college interns or recent college grads who are passionate about our mission, have
                strong communication skills, and have a strong interest in building an internet for people.
              </span>
              <h4> Responsibilities </h4>
      
              <span>Responsibilities include: (1) market and consumer research and competitive analysis, (2) coordination of
                weekly meet-up groups and feedback from customers, (3) preparation of social media launch activities, and (4)
                the possibility of writing of a white paper that you co-author with one of our founders.
              </span>
              <h4>Skills Needed</h4>
      
              <span>
                Skills needed for this internship include: (1) Social media creating and posting, (2) marketing and
                competitive research writing and reports, and (3) The four C’s (Communication, Critical Thinking,
                Collaboration, and Creativity).
              </span>
              <span class="mt-3">
                Interested applicants should submit by May 10, 2020: Please send an email to denise@atsign.com (1) Resume and
                (2) a brief statement of why you would want an @sign and what app you would use an @sign with.
              </span>
            </div>

        </div>

    </div>
    

  </div>
</main>
<app-home-common></app-home-common>
