<main role="main" class="mainBody" #main tabindex="-1">
  <div class="">
    <div class=" intropart" style="position: relative;max-width: 92%;margin: auto;">
      <img src="../../assets/img/mobileman.png" class="image1" alt="man with mobile" />
      <h1 class="mainTitle">
        Now for some internet <br />optimism
      </h1>
      <!-- <img src="../../assets/img/mobilelady.png" class="image2" alt="lady with mobile" /> -->
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="para1 playfairBold" style="font-family:'Playfair Display Regular'">
          In the very near future, the internet will change for the better. <br>Your information will only belong to you
          and everyone (including ginormous corporations) will ask your permission. And massive data breaches? Well
          those will be a thing of the past.
        </p>
      </div>
    </div>
    <div class="row permissions">
      <div class="col-md-4 laptop-lady">
        <img src="../../assets/img/laptopLady.png" alt="smiling lady" />
      </div>
      <div class="col-md-8 d-flex justify-content-center flex-column text-center">
        <h2 class="mb-4 permission-head playfairBold">
          A permission-based internet
        </h2>
        <p style="line-height: 1.5; font-family: 'MuliRegular'; text-align: justify;">
          The @ protocol will change how people interact on the internet by handing people the keys to their data
          kingdom (datadom). We put people first, by letting them decide who has permission to talk to them, who has
          access to their data, what data they can access, and for how long.
        </p>
      </div>
    </div>
  </div>
  <div style="max-width: 100%;background: #f7fafb">

    <div class="container mb-4">
      <div class="row mobile-view-internet">
        <div class="col-md-8 d-flex justify-content-center flex-column p-5 text-center" style="z-index: 99; ">
          <h2 class="mb-4 internet-people playfairBold">
            An internet for the people
          </h2>
          <p style="line-height: 1.5; font-family: 'MuliRegular';text-align: justify;">
            When people and companies have to ask your permission, the world becomes a nicer place.
          </p>
        </div>
        <div class="col-md-4 hand-mobile mb-4 mt-5">
          <img src="../../assets/img/handsMobile.png" alt="hands holding mobiles" />
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row" style="font-family: 'Times New Roman', Times, serif;position: relative; ">
      <div class="col-md-12  text-center mobile-hide" style="z-index: 99; margin-top: 65px;">
        <h2 class="mb-4 personas playfairBold">
          Contextual personas
        </h2>
      </div>
      <div class="col-md-8 offset-md-2 text-center mb-5 mobile-hide"
        style=" font-family: 'MuliRegular';margin-bottom: 60px;">
        People are not single dimensional users as most websites would have you believe! In real life you project
        different personas to different groups. It is time for you to be yourself, whatever version of you that you
        would like to present.
      </div>
      <div class="col-lg-3 offset-sm-1 text-center  mobile-hide">
        <img src="../../assets/img/girl-gamer.png" class="w-100" alt="girl playing video game" />
      </div>
      <div class="col-lg-3  col-6 ">
        <img src="../../assets/img/girl-puppy.png" class="w-100" alt="girl playing with puppy" />
      </div>
      <div class="col-lg-3 mobile-hide">
        <img src="../../assets/img/girl-laptop.png" class="w-100" alt="girl working on laptop" />
      </div>
      <div class="col-6 only-mobile">
        <img src="../../assets/img/guy-golf.png" class="w-100" alt="guy playing golf" />
      </div>
    </div>
    <div class="row mb-5 only-mobile" style="font-family: 'Times New Roman', Times, serif;position: relative; ">
      <div class="col-md-12  text-center" style="z-index: 99; ">
        <h2 class="mb-4 personas playfairBold">
          Contextual personas
        </h2>
      </div>
      <div class="col-md-8 offset-md-2 text-center mb-2" style=" font-family: 'MuliRegular'">
        People are not single dimensional users as most websites would have you believe! In real life you project
        different personas to different groups. It is time for you to be yourself, whatever version of you that you
        would like to present.
      </div>
    </div>
    <div class="row justify-content-center mobile-hide  mb-5">
      <div class="col-md-3 offset-md-2">
        <img src="../../assets/img/guy-portrait.png" class="w-100" alt="smiling guy" />
      </div>
      <div class="col-md-3">
        <img src="../../assets/img/guy-son.png" class="w-100" alt="guy playing with son" />
      </div>
      <div class="col-md-3">
        <img src="../../assets/img/guy-golf.png" class="w-100" alt="guy playing golf" />
      </div>
    </div>
  </div>
</main>
<app-home-common></app-home-common>
