<main role="main" class="mainBody mb-5" #main tabindex="-1">
    <div class="">
      <div class=" intropart" style="position: relative;max-width: 100%;margin: auto;">
        <div class="mainTitle">
            Fall 2020 Internship Incubation Program
        </div>
      </div>
    </div>
  
    <div class="container" style="position: relative;max-width: 100%;margin: auto;">
        <div class="row justify-content-center">
            <h4 class="careerHead mt-4 ml-5 mr-5">We are a Silicon Valley company with an innovation we are calling the Internet of People (IofP). 
                We plan to launch October 2020 and have several exciting projects for the Fall of 2020.</h4>
            
        </div>
        
        <div class="row justify-content-center">
          <div class="col-12 col-md-offset-2 col-md-7 col-sm-8 careerContent">
              
              <div>
                <h3 class="mt-5">Available Opportunities</h3>
                <h5 class="mt-4">Market Development Internship</h5>
                <span>
                  We are looking for recent college graduates or seniors in any field, who have a strong interest in building a new market in the coming era of people-owned data and surveillance-free advertising.
                </span>
                <span class="mt-3">  
                  Projects will include market and consumer research and competitive analysis, coordination of a weekly 
                  meet-up group with feedback from consumers, preparation of social media launch activities, and business writing, 
                  messaging, blogging and vlogging.
                </span>
                
                <h5 class="mt-5"> App Developer Internship </h5>
        
                <span>We are looking for recent college graduates or seniors with a computer science background,
                 Dart and Flutter experience is desired. If you have not used Dart/Flutter but have worked with 
                 JavaScript, React, or similar frameworks, this is a great opportunity to learn and gain experience 
                 with Flutter. As an App Developer you will be involved in development of an app (Dart, Flutter) on the 
                 new @protocol. More on the <a class="standard-color"  href="javascript: void(0);"
                 [routerLink]="'/developers'">@protocol</a>.
                </span>
              </div>
          </div>
          
          <div class="col-12 col-md-3 mt-5">
            <div class="sideBox p-4">
                <h5 class="standard-color">Fall 2020 Internship Incubation Program</h5>
                <br>
                <strong>Dates:</strong> Monday, September 14 to Friday, November 6, 2020 
                <br>
                <strong>Location:</strong> Remote 
                <br>
                <strong>Paid:</strong> This is a paid internship with a stipend of $2,000/month. 
                Interested applicants should send an email directly to <a class="standard-color" href="mailto:denise@atsign.com?subject=Fall 2020 Internship Incubation Program">denise@atsign.com</a> by August 21, 2020 
                <br>
                <strong>Your email should include</strong> a link to your LinkedIn profile and a brief note describing (a) Why you would get an @sign and (b) What app would you want most if you had an @sign and why?
            
            </div>
          </div>
      </div>
    </div>
  </main>
  <app-home-common></app-home-common>
  