<div class="c10">
    <p class="c11"><span class="c1">Last updated </span><span class="c1">March 27, 2020</span></p>
    <p class="c4"><span class="c7">Thank you for your interest in our products and services. The @ Company provides its
        services to you subject to the following Terms of Service (&quot;</span><span class="c1">Terms</span><span
        class="c0">&quot;), which may be updated by us from time to time and without notice.</span></p>
    <p class="c4"><span class="c7">The following Terms govern your use of the The @ Company website (the
        &ldquo;</span><span class="c1">Site</span><span class="c7">&rdquo;), and all content, features, tools, services,
        applications and/or products available on or through the Site (collectively, the &quot;</span><span
        class="c1">Services</span><span class="c7">&quot;). Use of certain tools, applications and services available on
        or through the Site may be governed by additional terms made available in conjunction with such tools and/or
        services. In the event of a conflict between such additional terms and these Terms, these Terms shall apply, but
        only to the extent of such conflict. Please review the Terms carefully. By registering for, accessing, browsing,
        or otherwise using the Services, you are accepting and agreeing electronically to these Terms and consent to the
        terms of our Privacy Policy described below. When accepted by you, the Terms form a legally binding contract
        between you and The @ Company. If you do not agree to these Terms, please do not use the Services. The terms
        &quot;</span><span class="c1">The @ Company</span><span class="c7">&quot;, &quot;</span><span
        class="c1">us</span><span class="c7">&quot;, &quot;</span><span class="c1">we</span><span class="c7">&quot; or
        &quot;</span><span class="c1">our</span><span class="c7">&quot; refers to The @ Company, &nbsp;the owner of the
        Services. The terms &quot;</span><span class="c1">you</span><span class="c7">&quot; or &quot;</span><span
        class="c1">your</span><span class="c0">&quot; refers to the person accessing or using the Services, or the company
        or organization on whose behalf that person accesses the Services.</span></p>
    <h2 class="c6" id="h.tvgygki1hdno"><span class="c8">Our Services</span></h2>
    <p class="c4"><span class="c0">The @ Company Services includes software, widgets, services, tools, applications and
        websites hosted or made available by The @ Company, which allow you to share content on The @ Company&rsquo;s site
        as well as third party sites or applications. How and with whom you wish to share your Content is always under
        your control and The @ Company does not have direct access to your Content and we do not store any personal
        information with the exception of your designated contact preference (e.g. phone number or email address)
        &nbsp;which we only use if we need to contact you, or if you opt-in to notifications from us.</span></p>
    <p class="c4"><span class="c0">In order for us to provide you with the Services, you understand and agree that you are
        allowing The @ Company to use, retrieve, distribute, integrate, present, embed, and access your Content (as
        defined below) in accordance with these Terms. You further understand that the provision of the Services to you
        may depend on us sending you service announcements, administrative messages, and other information. You may opt
        out of some of those communications by choosing the applicable options in your dashboard.</span></p>
    <h2 class="c6" id="h.7i6md3an18j3"><span class="c8">Modifications to Services or Terms</span></h2>
    <p class="c4"><span class="c7">We retain all rights to determine the features and capabilities included as part of the
        Services. We may, now or in the future, include features and capabilities that link to third-party services,
        content, applications, widgets </span><span class="c7">or websites</span><span class="c0">&nbsp;from the
        Services.</span></p>
    <p class="c4"><span class="c0">We reserve the right to modify, suspend, or discontinue all or any aspect of the
        Services from time-to-time, with or without notice to you, and we are not liable to you or any third party should
        we exercise such right. We may from time-to-time modify the Terms, and any such modifications will take effect
        after we post or otherwise make such modifications available to you on or through the Services. Please check these
        Terms periodically for changes. If we make any material changes to the Terms, we will provide you with notice of
        such modification in accordance with the notice procedures described below. If you object to any such changes to
        the Services or the Terms, your sole recourse is to discontinue using the Services. Continued access and/or use of
        the Services after any such changes have been posted or made available on or through the Services shall indicate
        your assent to and acceptance of such changes. Notwithstanding the foregoing, the resolution of any dispute that
        arises between you and The @ Company will be governed by the Terms in effect at the time such dispute
        arose.</span></p>
    <h2 class="c6" id="h.cfiaf8nsn5xs"><span class="c8">Feedback</span></h2>
    <p class="c4"><span class="c7">We appreciate it when people send us comments, bug reports, feedback, or proposals
        and/or suggestions for modifications to the Services (collectively, &ldquo;</span><span
        class="c1">Feedback</span><span class="c0">&rdquo;). Please be aware that we may use any Feedback, comments, or
        suggestions to improve our services but without any obligation to you. If you provide us with any Feedback, we
        shall have the right to use such Feedback at our discretion, including, but not limited to the incorporation of
        any suggested changes into the Services. You hereby grant us a perpetual, irrevocable, nonexclusive license under
        all rights necessary to incorporate and use your Feedback for any purpose.</span></p>
    <h2 class="c6" id="h.d9lw3ltrinw2"><span class="c8">Your Content in Our Services</span></h2>
    <p class="c4"><span class="c7">By using our Services you provide us with information, files, and other content,
        including but not limited to web links, videos, images, text, annotations, animations, widgets, graphs, files,
        spreadsheets, text documents, photos, graphic designs, and/or other types of content submitted or uploaded to the
        Services by you or others on your behalf (collectively, your &quot;</span><span class="c1">Content</span><span
        class="c0">&quot;). You retain full ownership of your Content. We don&rsquo;t claim any ownership to any of it
        and, in fact, cannot access it without your permission. These Terms do not grant us any rights to your Content or
        intellectual property except for the limited rights described herein that are needed to run and/or improve the
        Services. For example, we may need such rights for purposes of hosting your files, sharing them with others at
        your direction, creating image thumbnails, embedding links and files, organizing your Content into a detailed
        index list, or backing up your data to keep it safe. Your Content is displayed on or through the Services for
        informational purposes only and is not otherwise endorsed or controlled by The @ Company. You understand and agree
        that you shall be solely responsible for your Content and the consequences of posting or publishing your Content
        on or through the Services. By posting or uploading your Content to or through the Services, you hereby grant The
        @ Company a worldwide, non-exclusive, royalty-free, sub-licensable and transferable license to use, store,
        reproduce, reformat, distribute, transmit, prepare derivative works of, display, and perform your Content in
        connection with our Services and The @ Company&rsquo; (and its parent&rsquo;s and successor&#39;s) business,
        including without limitation for promoting and redistributing your Content (and derivative works thereof) in any
        media formats and through any media channels, whether now known or hereafter developed. You also hereby grant each
        user of the Services who accesses your Content a non-exclusive license to access your Content, and to use,
        reproduce, distribute, display and perform your Content solely for personal, non-commercial use. The foregoing
        license granted by you to other users terminates once you block access to, remove or delete Your Content from the
        Services, provided, however, that other users&rsquo; rights to such Content arising out of distributions occurring
        on or prior to deletion of such Content from the Services shall survive any termination of this license.</span>
    </p>
    <p class="c4"><span class="c7">In connection with your Content, you affirm, represent, and warrant that: (i) you own
        your Content or have the necessary licenses, rights, consents, and permissions to grant all of the licenses set
        forth above, and (ii) use of your Content in the manner contemplated by our Services and these Terms do not and
        will not violate any applicable law or regulation or any third party rights, or require us to obtain a license
        from or to pay any fees and/or royalties to any third party in order to exercise any of the rights granted in
        these Terms. Without limiting the generality of the foregoing, you further agree that you will not: (i) submit
        Content that includes material which is copyrighted, protected by trade secret or otherwise subject to third party
        proprietary rights, including privacy and publicity rights, unless you are the owner of such rights or have
        permission from their rightful owner to post such material on or through the Services, and to grant The @ Company
        all of the license rights granted herein; (ii) publish falsehoods or misrepresentations that could damage The @
        Company or any third party; or (iii) submit Content that is unlawful, obscene, defamatory, libelous, threatening,
        harassing, hateful, racially or ethnically offensive, or encourages conduct that would be considered a criminal
        offense, give rise to civil liability, violate any law, or is otherwise inappropriate. The @ Company does not
        endorse any of your Content or any opinion, recommendation, or advice expressed therein. The @ Company shall have
        no obligation to monitor any Content posted or uploaded to the Services, although The @ Company reserves the
        right, in its sole discretion, to refuse to allow any Content on the Services and/or to delete from the Services
        or modify any Content at any time with or without notice to you. Without limiting the generality of the preceding
        sentence, </span><span class="c7">The @ Company will remove your Content from the Services if properly notified
        that your Content infringes on a third party&#39;s intellectual property rights and/or terminate a user&#39;s
        access to the Services, if they are determined to be a repeat infringer. (see &quot;</span><span
        class="c1">Digital Millennium Copyright Act Compliance</span><span class="c7">&quot; below).</span></p>
    <p class="c4"><span class="c0">You understand that when using the Services, you may be exposed to Content from a
        variety of sources and that The @ Company does not endorse and is not responsible for the accuracy, usefulness, or
        intellectual property rights of or relating to such Content. You understand that The @ Company cannot, and does
        not, review all Content and does not endorse any Content or user from whom such Content originates. You further
        understand and acknowledge that you may be exposed to Content that is inaccurate, misleading, offensive, indecent,
        or objectionable. You agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or
        may have against The @ Company with respect thereto. IF YOU ARE A CALIFORNIA RESIDENT, YOU WAIVE CALIFORNIA CIVIL
        CODE SECTION 1542, WHICH SAYS: &ldquo;A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW
        OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST
        HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.&rdquo;</span></p>
    <h2 class="c6" id="h.dtlup7gd1lsh"><span class="c8">Ownership of the Services</span></h2>
    <p class="c4"><span class="c7">You acknowledge and agree that we and our licensors retain ownership of all
        intellectual property rights of any kind related to the Services, including applicable copyrights, trademarks and
        other proprietary rights. With the exception of your or any other user&#39;s Content, all content, services and/or
        products available on the Site or otherwise through the Services, including without limitation documents, forms,
        pictures, images, audiovisual works, and informational materials (collectively, the &ldquo;</span><span
        class="c1">The @ Company Materials</span><span class="c0">&rdquo;), is owned or controlled by us, our affiliates
        or licensors, and is protected by copyright and other intellectual property laws. Subject to the foregoing, we
        authorize you to download a single copy of any part of the The @ Company&#39; Materials expressly made
        downloadable by us, if you retain all copyright and proprietary notices, if any, that are contained in such part
        of the The @ Company Materials. You expressly acknowledge that you do not acquire any ownership rights by
        downloading any copyrighted material from or through the Site or the Services. You shall not copy, distribute or
        publish any The @ Company Materials or any information obtained or derived therefrom except as permitted on or
        through the Services or as otherwise permitted by applicable law. We reserve all rights that are not expressly
        granted to you in these Terms.</span></p>
    <h2 class="c6" id="h.baxgdzqt170c"><span class="c8">Links to Third Party Sites</span></h2>
    <p class="c4"><span class="c0">The Services may contain or provide links to other websites or resources unaffiliated
        with The @ Company. Because The @ Company has no control over such sites and resources, you acknowledge and agree
        that The @ Company is not responsible for the availability of such external sites or resources, and does not
        endorse and is not responsible or liable for any content, advertising, products, services or other materials on or
        available from such third party sites or resources, including without limitation in connections with the accuracy,
        usefulness, or intellectual property rights of content available on or through such third party sites or
        resources. You further acknowledge and agree that The @ Company shall not be responsible or liable, directly or
        indirectly, for any damage or loss caused or alleged to be caused by or in connection with your use of or reliance
        on the information, goods or services available on or through any such third party site or resource. In addition,
        The @ Company cannot and will not censor or edit the content of any third-party website, advertisement,
        application or widget. By using the Services, you expressly release The @ Company from any and all liability
        arising from your use of or reliance on the information, materials, products or services available on or through
        any such third-party sites or resources.</span></p>
    <h2 class="c6" id="h.fb6yu340ezjc"><span class="c8">General Rules of Conduct</span></h2>
    <p class="c4"><span class="c0">To make the use of our Site and Services a good experience for all people using our
        services, you agree not to do any of the following:</span></p>
    <ol class="c3 lst-kix_ee846lq1n299-0 start" start="1">
      <li class="c4 c9"><span class="c0">Conduct or promote any illegal activities while using the Services;</span></li>
      <li class="c4 c9"><span class="c0">Upload, post, transmit or otherwise make available on or through your Content any
          content or information that is unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene,
          libelous, invasive of another&#39;s privacy, hateful, harmful to minors in any way, or racially, ethnically or
          otherwise objectionable;</span></li>
      <li class="c4 c9"><span class="c0">Impersonate any person or entity, including, but not limited to, a The @ Company
          official, forum leader, guide or host, or falsely state or otherwise misrepresent your affiliation with a person
          or entity;</span></li>
      <li class="c4 c9"><span class="c0">Forge headers or otherwise manipulate identifiers in order to disguise the origin
          of any Content transmitted through the Services;</span></li>
      <li class="c4 c9"><span class="c0">Decompile, reverse engineer, or otherwise access or attempt to access or derive
          the source code for the Services or any part thereof;</span></li>
      <li class="c4 c9"><span class="c0">Jeopardize or attempt to jeopardize the correct functioning of the Site or
          Services, or make or attempt to make any modification to the Services or any part thereof;</span></li>
      <li class="c4 c9"><span class="c0">Rent, lease, loan, sell, resell, sub-license, distribute or otherwise transfer
          any of the licenses granted to you in these Terms;</span></li>
      <li class="c4 c9"><span class="c0">Modify, change or alter in any way, the proprietary content of other users of the
          Services;</span></li>
      <li class="c4 c9"><span class="c0">Upload, post, email, transmit or otherwise make available any material to or
          through the Services that contains software viruses or any other computer code, files or programs designed to
          interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications
          equipment;</span></li>
      <li class="c4 c9"><span class="c0">Attempt to gain access to secured portions of the Site to which you do not
          possess access rights;</span></li>
      <li class="c4 c9"><span class="c0">Upload or transmit any form of virus, worm, Trojan horse, or other malicious
          code;</span></li>
      <li class="c4 c9"><span class="c0">Use the Site or Services to generate unsolicited email advertisements or
          spam;</span></li>
      <li class="c4 c9"><span class="c0">Use any automatic or manual process to search or harvest information from the
          Site or Services, or to interfere in any way with the proper functioning of the Site and Services.</span></li>
      <li class="c4 c9"><span class="c0">&ldquo;Stalk&quot; or otherwise harass another; and/or</span></li>
      <li class="c4 c9"><span class="c0">Collect or store personal data about other users without their permission.</span>
      </li>
    </ol>
    <h2 class="c6" id="h.uupc0cp2asz5"><span class="c8">@signs</span></h2>
    <p class="c4"><span class="c7">You will need to register an @sign in order to have access to certain Services. The @
        Company offers a &ldquo;</span><span class="c1">Free @sign</span><span class="c7">&rdquo; option for free. We
        also offer a personalized &ldquo;</span><span class="c1">Premium @sign</span><span class="c0">&rdquo; option that
        is subject to an upfront fee and an annual renewal fee. </span></p>
    <p class="c4"><span class="c0">We may reject in our sole discretion any request to create an @sign. You must be at
        least 13 years old to register for an @sign. Each registration is for your personal use of the Services. Access
        and use of the Services are not authorized by any other person or entity using your registration and you are
        responsible for preventing such unauthorized use. You are responsible for all activity occurring under your @sign
        and shall abide by all applicable local, state, national and foreign laws, treaties and regulations in connection
        with your use of the Services, including those related to data privacy, international communications and the
        transmission of technical or personal data.</span></p>
    <h3 class="c4 c21" id="h.adn0hdaqpad4"><span class="c15">Free</span><span class="c20 c18 c15">&nbsp;@signs</span></h3>
    <p class="c4"><span class="c7">The @ Company offers you to create a free </span><span class="c7">Standard
        @sign</span><span class="c7">&nbsp;that allows you to access </span><span class="c7">certain free
        features</span><span class="c0">&nbsp;of the Services. You can register a Standard &nbsp;@sign by following the
        registration instructions provided on the Service. </span></p>
    <p class="c4"><span class="c7">We do not charge a fee for access to the Services for a </span><span
        class="c7">Free @sign</span><span class="c0">.</span></p>
    <p class="c4"><span class="c0">The @ Company reserves the right to return your Free @sign to the available pool
        that others can use if we find that it has not been used for the preceding 12 months. </span></p>
    <h3 class="c27" id="h.ww12h3eiqmnr"><span class="c18 c15 c20">Premium @signs</span></h3>
    <p class="c4"><span class="c0">The @ Company offers you the option of creating a personalized Premium @sign, subject
        to availability. &nbsp;By doing so, you will not be subject to some of the restrictions placed on the free
        Free @signs. You agree to pay to The @ Company all fees for services purchased on or through the Services for
        your Premium @sign, if applicable, at the then-current rates for such services (including any applicable taxes),
        and to abide by The @ Company&#39; payment terms in effect at the time of such purchase. The @ Company may change
        the fees for the use of Premium @signs, or add new fees or charges, at any time. For any change in fees for
        services purchased under your Premium @sign, if applicable, The @ Company will send you a notice of such change in
        advance of the time such change takes effect (via a message on or through the Services or via email).</span></p>
    <p class="c4"><span class="c0">The @ Company accepts credit cards for Premium @signs, but we do not store your credit
        card information. If any fee is not paid in a timely manner, or The @ Company is unable to process your
        transaction using the credit card information provided, The @ Company reserves the right to return your Premium
        @sign to the available pool that others can purchase. If you do not bring your The @ Company balance current
        within five (5) days after The @ Company provides you with notification that your Premium @sign is in arrears,
      </span></p>
    <p class="c4"><span class="c0">There is also an annual renewal fee for your Premium @sign. The annual fees are due on
        the date you convert to a Premium @sign and on each annual renewal thereafter unless and until you cancel your
        Premium @sign. The @ Company may send a reminder email to renew your Premium @sign. Click on the link on your
        dashboard page to see the date when you will need to renew.</span></p>
    <p class="c4"><span class="c0">All fees and charges are nonrefundable and there are no refunds or credits for
        partially used periods.</span></p>
    <h2 class="c6" id="h.skvk4krmr2q"><span class="c8">@sign Security</span></h2>
    <p class="c4"><span class="c7 c16">You are responsible for safeguarding the security keys that you use to access the
        Services and you agree not to disclose your security keys to any third party. You are responsible for any activity
        using your @sign (regardless of whether you have a Free </span><span class="c7 c16">Free @sign</span><span
        class="c0 c16">&nbsp;or a Premium @sign), whether or not you authorized that activity. You should immediately
        notify The @ Company of any unauthorized use of your @sign. You acknowledge that if you wish to protect your
        transmission of Content, data or files to The @ Company, it is your responsibility to use a secure encrypted
        connection to communicate with the Services.</span></p>
    <h2 class="c6" id="h.gjomw8sgofrl"><span class="c8">Cancelling Your Premium @sign</span></h2>
    <p class="c4"><span class="c0">The @ Company Premium @signs are prepaid and are non-refundable. The @ Company DOES NOT
        PROVIDE REFUNDS OR CREDITS FOR ANY PARTIAL MONTHS OR YEARS. You may cancel your The @ Company Premium @sign at any
        time, and cancellation will be effective immediately. If you wish to cancel your Premium @sign you may do so via
        your dashboard page. Should you elect to cancel only your Premium @sign, you can convert to a Free @sign which
        may be subject to additional limits.</span></p>
    <h2 class="c6" id="h.z2jqeqplw1we"><span class="c8">The @ Company Privacy Policy</span></h2>
    <p class="c4"><span class="c7">Our storage and use of the information you provide to us during registration and at any
        other times is subject to our Privacy Policy. For more information, see our Privacy Policy available at
      </span><span class="c30 c7"><a class="c24"
          href="https://www.google.com/url?q=https://www.atsign.com/privacy&amp;sa=D&amp;ust=1585417940285000">https://www.atsign.com/privacy.</a></span><span
        class="c0">&nbsp;You understand and agree that by registering for accessing, or otherwise using the Services, you
        consent to our collection and use of your information in accordance with our Privacy Policy.</span></p>
    <h2 class="c6" id="h.g3rogndxw9la"><span class="c8">Termination</span></h2>
    <p class="c4"><span class="c0">You agree that The @ Company may, at any time and without prior notice, immediately
        terminate your Free @sign or Premium @sign and access to the Services. Cause for such termination shall
        include, but not be limited to: (a) breaches or violations of the Terms or other incorporated agreements or
        guidelines, (b) requests by law enforcement or other government agencies, (c) a request by you (self-initiated
        @sign deletions), (d) discontinuance or material modification to the Service (or any part thereof), (e) unexpected
        technical or security issues or problems, (f) extended periods of inactivity, (g) engagement by you in fraudulent
        or illegal activities, and/or (h) nonpayment of any fees owed by you in connection with the Services. Further, you
        agree that all terminations for cause shall be made in The @ Company&#39; sole discretion and that The @ Company
        shall not be liable to you or any third party for any termination of your @sign or access to the Services, or the
        loss of access to your Content as a result of such termination..</span></p>
    <h2 class="c6" id="h.4wuj9zeiq3k6"><span class="c8">Disclaimers of Warranty</span></h2>
    <p class="c4"><span class="c0">THE SERVICES ARE PROVIDED ON AN &quot;AS IS,&rdquo; &quot;WITH ALL FAULTS&quot; AND
        &quot;AS AVAILABLE&quot; BASIS WITHOUT ANY WARRANTIES OF ANY KIND. TO THE MAXIMUM EXTENT PERMITTED BY LAW, The @
        COMPANY, ITS PARENT, AFFILIATES, OFFICERS, DIRECTORS, AGENTS, AND EMPLOYEES EXPRESSLY DISCLAIM ALL REPRESENTATIONS
        AND WARRANTIES, WHETHER EXPRESS OR IMPLIED, ORAL OR WRITTEN, INCLUDING ANY WARRANTIES OF MERCHANTABILITY, FITNESS
        FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, TITLE, ACCURACY, QUIET ENJOYMENT, AND SYSTEM INTEGRATION. THE @
        COMPANY, ITS PARENT, AFFILIATES, OFFICERS, DIRECTORS, AGENTS, AND EMPLOYEES MAKE NO WARRANTIES ABOUT THE ACCURACY,
        RELIABILITY, COMPLETENESS, QUALITY, OR TIMELINESS OF THE SERVICES, OR THAT PROBLEMS WITH THE FOREGOING WILL BE
        CORRECTED, THAT THE SERVICES ARE FREE OF VIRUSES AND OTHER HARMFUL COMPONENTS, OR THAT THE SERVICES WILL MEET YOUR
        REQUIREMENTS.</span></p>
    <h2 class="c6" id="h.6uhsbj33t5l5"><span class="c8">Limitations of Liability</span></h2>
    <p class="c4"><span class="c0">YOU EXPRESSLY UNDERSTAND AND AGREE THAT THE @ COMPANY AND ITS SUBSIDIARIES, AFFILIATES,
        OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS (THE &ldquo;THE @ COMPANY PARTIES&rdquo;) SHALL NOT BE LIABLE
        TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT
        LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF The @ Company HAS
        BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), INCLUDING WITHOUT LIMITATION DAMAGES RESULTING FROM: (i) THE USE
        OR THE INABILITY TO USE THE SERVICES; (ii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM
        ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED &#65532; OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS
        ENTERED INTO THROUGH OR FROM THE SERVICES; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS,
        CONTENT OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICES; OR (v) ANY OTHER MATTER RELATING
        TO THE SERVICES.</span></p>
    <p class="c4"><span class="c0">IN NO EVENT WILL THE @ COMPANY PARTIES&rsquo; LIABILITY TO YOU FOR DAMAGES, LOSSES, AND
        CAUSES OF ACTION ARISING OUT OF OR RELATING TO THESE TERMS OR YOUR USE OF THE SERVICES OR YOUR INTERACTION WITH
        OTHER USERS OF THE SERVICES (WHETHER IN CONTRACT, TORT INCLUDING NEGLIGENCE, WARRANTY, OR OTHERWISE) EXCEED THE
        AMOUNT PAID BY YOU, IF ANY, FOR ANY ACCESS TO OR USE OF THE SERVICES OR ANY PART THEREOF, OR FIFTY DOLLARS,
        WHICHEVER IS GREATER.</span></p>
    <p class="c4"><span class="c0">CERTAIN JURISDICTIONS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION
        OR LIMITATION OF CERTAIN DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN SUCH CASES, The @
        Company PARTIES&rsquo; LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.</span></p>
    <h2 class="c6" id="h.fnyiqy8yv35z"><span class="c8">Indemnity</span></h2>
    <p class="c4"><span class="c0">You agree to indemnify and hold harmless The @ Company and its affiliates from any
        claims, losses, damages, liabilities, including attorney&#39;s fees, arising out of your use or misuse of the
        Services, representations made to The @ Company, other users of the Services, and/or third parties, violation of
        these Terms, violation of the rights of any other person or entity, or any breach of the foregoing
        representations, warranties, and covenants. The @ Company reserves the right, at its own expense, to assume the
        exclusive defense and control of any matter for which you are required to indemnify The @ Company, and you agree
        to cooperate with such defense of these claims.</span></p>
    <h2 class="c6" id="h.1pql3d8ekr85"><span class="c8">Digital Millennium Copyright Act Compliance</span></h2>
    <p class="c4"><span class="c0">The @ Company respects the intellectual property of others and takes the protection of
        copyrights and all other intellectual property very seriously, and we ask our users to do the same. Infringing
        activity will not be tolerated on or through the The @ Company Services.</span></p>
    <p class="c4"><span class="c7">The @ Company has adopted policies to comply with the United States Digital Millennium
        Copyright Act (&quot;</span><span class="c1">DMCA</span><span class="c0">&quot;). The DMCA may not apply outside
        the United States but we encourage complaining parties to follow the practices set forth in the DMCA for
        submitting notifications of claimed infringement.</span></p>
    <p class="c4"><span class="c0">The @ Company&rsquo;s intellectual property policy is to (a) remove material that The @
        Company believes in good faith, upon notice from an intellectual property owner or their agent, is infringing the
        intellectual property of a third party by being made available through the The @ Company Services, and (b) remove
        any user content posted to the Services by &ldquo;repeat infringers.&rdquo; The @ Company considers a &quot;repeat
        infringer&quot; to be any user that has uploaded user content to the Services and for whom The @ Company has
        received more than two takedown notices compliant with the provisions of 17 U.S.C. &sect; 512(c) (of the United
        States Copyright Laws) with respect to such user content. The @ Company has discretion, however, to terminate the
        @sign of any user after receipt of a single notification of claimed infringement or upon The @ Company&rsquo;s own
        determination.</span></p>
    <h3 class="c19" id="h.r4kqopn90kks"><span class="c22 c18 c15">Procedure for Reporting Claimed Infringement</span></h3>
    <p class="c4"><span class="c0">If you believe that any content made available on or through the The @ Company Services
        has been used or exploited in a manner that infringes an intellectual property right you own or control, then
        please promptly send a &quot;Notification of Claimed Infringement&quot; containing the following information to
        the Designated Agent identified below. Your communication must include substantially the following:</span></p>
    <ul class="c3 lst-kix_q9yggh35tmzf-0 start">
      <li class="c2"><span class="c0">A physical or electronic signature of a person authorized to act on behalf of the
          owner of the work(s) that has/have been allegedly infringed;</span></li>
      <li class="c2"><span class="c0">Identification of works or materials being infringed, or, if multiple works are
          covered by a single notification, a representative list of such works;</span></li>
      <li class="c2"><span class="c0">Identification of the specific material that is claimed to be infringing or to be
          the subject of infringing activity and that is to be removed or access to which is to be disabled, and
          information reasonably sufficient to permit The @ Company to locate the material;</span></li>
      <li class="c2"><span class="c0">Information reasonably sufficient to permit The @ Company to contact you, such as an
          address, telephone number, and, if available, an electronic mail address at which you may be contacted;</span>
      </li>
      <li class="c2"><span class="c0">A statement that you have a good faith belief that the use of the material in the
          manner complained of is not authorized by the copyright owner, its agent, or the law; and</span></li>
      <li class="c2"><span class="c0">A statement that the information in the notification is accurate, and under penalty
          of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly
          infringed.</span></li>
    </ul>
    <p class="c4"><span class="c0">You should consult with your own lawyer and/or see 17 U.S.C. &sect; 512 to confirm your
        obligations to provide a valid notice of claimed infringement.</span></p>
    <h4 class="c4 c21" id="h.2hgj83fhrg57"><span class="c15 c17">Contact Information:</span></h4>
    <p class="c4 c28 c31"><span class="c7">Please send us an email: </span><span class="c7 c12"><a href="mailto:support@atsign.com">support@atsign.com</a></span>
    </p>
    <h4 class="c4 c21" id="h.15vdxot6kujc"><span class="c17 c15">Legal Notice Designated Agent Contact Information:</span>
    </h4>
    <p class="c4 c28"><span class="c7">Please send legal notices of claimed infringement to </span><span class="c0">The @
        Company&#39;s Designated Agent via U.S. Mail to:</span></p>
    <p class="c23"><span class="c13 c15 c18">CORPORATION SERVICE COMPANY</span></p>
    <p class="c23"><span class="c13">251 LITTLE FALLS DRIVE<br>WILMINGTON, DE 19808</span></p>
    <h3 class="c19" id="h.3xzk5tp9uxk9"><span class="c18 c15 c22">Counter Notification</span></h3>
    <p class="c4"><span class="c0">If you receive a notification from The @ Company that material made available by you on
        or through the Services has been the subject of a Notification of Claimed Infringement, then you will have the
        right to provide The @ Company with what is called a &quot;Counter Notification.&quot; To be effective, a Counter
        Notification must be in writing, provided to The @ Company&#39; Designated Agent through one of the methods
        identified above, and include substantially the following information:</span></p>
    <ul class="c3 lst-kix_oi2b4lrshq51-0 start">
      <li class="c2"><span class="c0">A physical or electronic signature of the subscriber;</span></li>
      <li class="c2"><span class="c0">Identification of the material that has been removed or to which access has been
          disabled and the location at which the material appeared before it was removed or access to it was
          disabled;</span></li>
      <li class="c2"><span class="c0">A statement under penalty of perjury that the subscriber has a good faith belief
          that the material was removed or disabled as a result of mistake or misidentification of the material to be
          removed or disabled; and</span></li>
      <li class="c2"><span class="c0">The subscriber&rsquo;s name, address, and telephone number, and a statement that the
          subscriber consents to the jurisdiction of Federal District Court for the judicial district in which the address
          is located, or if the subscriber&rsquo;s address is outside of the United States, for any judicial district in
          which The @ Company may be found, and that the subscriber will accept service of process from the person who
          provided a notification of claimed infringement as set forth above or an agent of such person.</span></li>
    </ul>
    <p class="c4"><span class="c0">A party submitting a Counter Notification should consult a lawyer or see 17 U.S.C.
        &sect; 512 to confirm the party&rsquo;s obligations to provide a valid counter notification under the Copyright
        Act.</span></p>
    <p class="c4"><span class="c0">False Notifications of Claimed Infringement or Counter Notifications. The United States
        Copyright Act provides that:</span></p>
    <p class="c4 c5"><span class="c0">[a]ny person who knowingly materially misrepresents under [Section 512 of the
        Copyright Act (17 U.S.C. &sect; 512)] (1) that material or activity is infringing, or (2) that material or
        activity was removed or disabled by mistake or misidentification, shall be liable for any damages, including costs
        and attorneys&rsquo; fees, incurred by the alleged infringer, by any copyright owner or copyright owner&rsquo;s
        authorized licensee, or by a service provider, who is injured by such misrepresentation, as the result of [The @
        Company] relying upon such misrepresentation in removing or disabling access to the material or activity claimed
        to be infringing, or in replacing the removed material or ceasing to disable access to it.</span></p>
    <p class="c4"><span class="c0">17 U.S.C. &sect; 512(f).</span></p>
    <p class="c4"><span class="c0">The @ Company reserves the right to seek damages from any party that submits a
        notification of claimed infringement or counter notification in violation of applicable law.</span></p>
    <p class="c4"><span class="c7">For the avoidance of doubt, only notices submitted under the Digital Millennium
        Copyright Act and the procedures set forth in this section should be sent to us via email at </span><span
        class="c30 c7"><a class="c24" href="mailto:support@atsign.com">support@atsign.com</a></span><span
        class="c7">&nbsp;with legal notices sent via postal mail </span><span class="c7">to the Designated Agent postal
        address identified above. Any other comments, compliments, complaints or suggestions about The @ Company, the
        operation of the The @ Company Services or any other matter should be sent to </span><span
        class="c0">info@atsign.com</span></p>
    <h2 class="c6" id="h.v9ya9p8e3tx7"><span class="c8">General Terms</span></h2>
    <p class="c4"><span class="c7 c14">Entire Agreement.</span><span class="c0">&nbsp;The Terms constitutes the entire
        agreement between you and The @ Company and governs your use of the Services, superseding any prior agreements
        between you and The @ Company with respect to the Services. You also may be subject to additional terms and
        conditions that may apply when you use or purchase certain other The @ Company Services, affiliate services,
        third-party content or third-party software.</span></p>
    <p class="c4"><span class="c7 c14">Choice of Law and Forum.</span><span class="c0">&nbsp;The Terms and the
        relationship between you and The @ Company shall be governed by the laws of the State of California without regard
        to its conflict of law provisions. You and The @ Company agree to submit to the personal and exclusive
        jurisdiction of the courts located within the county of San Francisco, California.</span></p>
    <p class="c4"><span class="c7 c14">Waiver and Severability of Terms.</span><span class="c0">&nbsp;The failure of The @
        Company to exercise or enforce any right or provision of the Terms shall not constitute a waiver of such right or
        provision. If any provision of the Terms is found by a court of competent jurisdiction to be invalid, the parties
        nevertheless agree that the court should endeavor to give effect to the parties&#39; intentions as reflected in
        the provision, and the other provisions of the Terms remain in full force and effect.</span></p>
    <p class="c4"><span class="c7 c14">No Right of Survivorship and Non-Transferability.</span><span class="c7">&nbsp;You
        agree that your @sign &nbsp;is non-transferable and any rights to your @sign or Content </span><span
        class="c7">terminate upon your death</span><span class="c0">. Upon receipt of a copy of a death certificate, your
        @sign may be terminated and all contents therein permanently deleted.</span></p>
    <p class="c4"><span class="c7 c14">Assignment.</span><span class="c0">&nbsp;The Terms, and any rights and licenses
        granted hereunder, may not be transferred or assigned by you but may be assigned by us without restriction. Any
        assignment attempted to be made in violation of the Terms will be void.</span></p>
    <p class="c4"><span class="c7 c14">Notice.</span><span class="c7">&nbsp;Except as explicitly stated otherwise, legal
        notices will be served, with respect to us and the Services, to </span><span
        class="c7 c30">info@atsign.com</span><span class="c0">&nbsp;and, with respect to you, to the email address you
        provide to us during the registration process. Notice will be deemed given 24 hours after email is sent, unless
        the sending party is notified that the email address is invalid. Alternatively, we may give you legal notice by
        posting or publishing such notice on or through the Services. In such a case, notice will be deemed given three
        days after the date of posting. You agree that all notices and other communications that we provide to you
        electronically satisfies any legal requirement that such notice or communication be in writing.</span></p>
    <p class="c4"><span class="c7 c14">Statute of Limitations.</span><span class="c0">&nbsp;You agree that regardless of
        any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Services
        or the Terms must be filed within one (1) year after such claim or cause of action arose or be forever
        barred.</span></p>
    <p class="c4"><span class="c0">The section titles in the Terms are for convenience only and have no legal or
        contractual effect.</span></p>
    <h2 class="c6" id="h.pcmtpnbj8wb"><span class="c8">Copyright/ Trademark Information</span></h2>
    <p class="c4"><span class="c7">Copyright &copy; 2019-2020 The @ Company &nbsp;All rights reserved. The trademarks,
        logos and service marks (&quot;</span><span class="c1">Marks</span><span class="c0">&quot;) displayed on the Site
        and/or the Services are our property or the property of our third parties affiliates or licensors. You are not
        permitted to use these Marks without our prior written consent or the consent of such third party who owns the
        Marks.</span></p>
    <p class="c29"><span class="c18 c15 c26"></span></p>
  </div>
  