<div>
    <form #signInForm="ngForm">

        <div class="form pt-0 pb-0">
            <div class="">
              <div class="contained font-muli mt-3 text-danger text-center alert alert-danger" *ngIf="serverErrorMessages">
                <strong>{{serverErrorMessages}}</strong>
            </div>
                <div class="row">
                    <div class="contained col-12 px-0" *ngIf="!verificationCodeSent && !contactVerified && showScreen">
                        <mat-radio-group aria-label="Choose account type" name="accountType" [(ngModel)]="model.type">
                            <div class="col-12 text-left">

                                        <mat-radio-button class="mr-3 radio-input" value="atsign" (change) = "resetErrorMessage()">
                                            @sign
                                        </mat-radio-button>
                                        <mat-radio-button class="mr-3 radio-input" value="email" (change) = "resetErrorMessage()">
                                            Email
                                        </mat-radio-button>

                                        <mat-radio-button  class="radio-input" value="mobile" (change) = "resetErrorMessage()">
                                          Mobile
                                        </mat-radio-button>
                            </div>
                        </mat-radio-group>
                    </div>
                    <div class="col-12">
                        <div class="mt-3 contained" *ngIf="!verificationCodeSent && !contactVerified && showScreen">
                            <div class="mb-3">
                                <mat-form-field class="d-block w-100 mb-3" appearance="outline" *ngIf="model.type === 'atsign'">
                                  <mat-label>Your @sign</mat-label>
                                    <input matInput
                                        placeholder='chloe'
                                        #email="ngModel" [(ngModel)]="model.email"
                                        name="atsign" required
                                        [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }"
                                        [disabled]="verificationCodeSent || contactVerified"
                                        (keyup.enter)="sendVerificationCode(model.email)">
                                </mat-form-field>
                                <mat-form-field class="d-block w-100 mb-3" appearance="outline" *ngIf="model.type === 'email'">                                 
                                  <mat-label>Your email address</mat-label>                                  
                                    <input matInput
                                        placeholder='email@email.com'
                                        #email="ngModel" [(ngModel)]="model.email"
                                        name="email" required
                                        [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }"
                                        [disabled]="verificationCodeSent || contactVerified"
                                        (keyup.enter)="sendVerificationCode(model.email);" (input)="clicked=false;">         
                                </mat-form-field>
                                
                                <mat-form-field class="d-block w-100 mb-3 hasTelInput" appearance="outline" *ngIf="model.type === 'mobile'">
                                  <mat-label>Mobile Number</mat-label>
                                    <input
                                    appPhoneMask
                                    matInput
                                    ng2TelInput
                                    [ng2TelInputOptions]="{initialCountry: 'us' , separateDialCode:true}"
                                    (countryChange)="onCountryChange($event)"
                                    placeholder='5555555555'
                                        #email="ngModel" [(ngModel)]="model.email"
                                        name="email" required
                                        [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }"
                                        [disabled]="verificationCodeSent || contactVerified"
                                        (keyup.enter)="sendVerificationCode(model.email);"
                                        (input)="clicked=false;"
                                        >
                                </mat-form-field>

                            </div>
                            <div class="alert alert-danger standard-color" *ngIf="formValidation">{{formValidation}}</div>
                            <div class="info info-sm mb-5" *ngIf="model.type === 'email'">We’ll email you to confirm your email address.</div>
                            <div class="info info-sm mb-5" *ngIf="model.type === 'mobile'">We’ll text you to confirm your number. Standard message and data rates apply.</div>
                            <div class="info info-sm mb-5" *ngIf="model.type === 'atsign'">If you've registered your email and phone number with us, we'll email and text you to confirm your information. Standard message and data rates apply.</div>
                            <button type="button" class=" ml10" *ngIf="!contactVerified"
                                (click)="sendVerificationCode(model.email); clicked = true;" [disabled]="verificationCodeSent || !model.email || clicked || showWaitModeTimer">
                                Send verification code  
                            </button>
                        </div>
                        <div class="mt-3" *ngIf="verificationCodeSent && !contactVerified && !getAtsign">
                          <div class="contained info mb-4">Enter the 4-character code just sent to <strong class="font-muli">{{sendCodeTo}}</strong></div>
                            <div class="contained text-center">
                                <div class="standard-color font-muli mt-2 mb-3">{{resendPrefix ? 'New Code Sent! ' : ''}} Please check your
                                    {{suffixMessage}} to continue.</div>
                            </div>
                            <div class="contained d-flex flex-sm-row align-items-center mb-4 justify-content-md-center">
                                <mat-form-field appearance="outline" class="mr-3 text-center otp-input">
                                  <input autocomplete="off" id="codeInput" type="text" matInput (keyup)="keytab($event)" 
                                    maxlength="1" name="otp1" required aria-label="otp digit 1" #otp1="ngModel" [(ngModel)]="verificationCodeOtp.otp1" (keyup.enter)="verifyContact(model.email)" (paste)="onOTPPaste($event)">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="mr-3 text-center otp-input">
                                  <input autocomplete="off" id="codeInput" type="text" matInput (keyup)="keytab($event)" 
                                    maxlength="1" name="otp2" required aria-label="otp digit 2" #otp2="ngModel" [(ngModel)]="verificationCodeOtp.otp2" (keyup.enter)="verifyContact(model.email)" (paste)="onOTPPaste($event)">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="mr-3 text-center otp-input">
                                  <input autocomplete="off" id="codeInput" type="text" matInput (keyup)="keytab($event)" 
                                    maxlength="1" name="otp3" required aria-label="otp digit 3" #otp3="ngModel" [(ngModel)]="verificationCodeOtp.otp3" (keyup.enter)="verifyContact(model.email)" (paste)="onOTPPaste($event)">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="mr-3 text-center otp-input">
                                  <input autocomplete="off" id="codeInput" type="text" matInput (keyup)="keytab($event)" 
                                    maxlength="1" name="otp4" required aria-label="otp digit 4" #otp4="ngModel" [(ngModel)]="verificationCodeOtp.otp4" (keyup.enter)="verifyContact(model.email)" (paste)="onOTPPaste($event)">
                                </mat-form-field>
                              </div>
                              <div class="alert alert-warning" *ngIf="model.type !== 'mobile'">Didn't receive an email? Please first check that your email is spelled correctly. If it's correct, try checking your junk/spam or promotions folder. If you find the email there, remember to mark it as 'not junk'.<br><a href="https://atsign.com/email-support-tips/" target="_blank">Click here for more help</a></div>
                              <span *ngIf="emailDomain" >
                                <img style="border: 2px solid #555;" src = "../../../assets/gifs/gmail-warning.gif" width="100%" height="100%">
                              </span>
                              <div class="text-large mb-5">
                              <p class="font-muli">Didn't receive a code?
                            <span class="pointer-cursor text-link font-muli font-weight-bold"
                            [ngClass]="{'disable-resend': disableResend}"
                            (click)="resendVerificationCode()">Send again{{showWaitModeTimer ? ' in' : ''}}
                            <span class="timer-duration" *ngIf="showWaitModeTimer">
                                <countdown [config]="{ leftTime: 15, notify: 0, format: 'mm:ss'}" class="timer"></countdown>
                            </span>
                        </span></p>
                      <p><span *ngIf="!showWaitModeTimer" class="font-muli text-link font-weight-bold pointer-cursor" (click)="sendAlternateCode();">{{alternateVerificationMsg}}</span></p>
                      </div>
                        <div class="contained">
                            <button type="button" class="ml10" id = "verifyContact" (click)="verifyContact(model.email)">Confirm</button>
                          </div>
                        </div>
                        <div *ngIf="verificationCodeSent && getAtsign" class="contained">This @sign is still available, click <a href="https://atsign.com/get-an-sign/" class="atsign-link standard-color">here</a> to buy.
                        <div>Click <span (click)="resendVerificationCode()" class="standard-color pointer-cursor">here</span> to go back</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
