<main role="main" class="mainBody" #main tabindex="-1">
    <div class="">
        <div class=" intropart" style="position: relative;max-width: 100%;margin: auto;">
            <div class="mainTitle">
                Developers
            </div>
        </div>
    </div>

    <div class="container" style="position: relative;max-width: 100%;margin: auto;">

        <div class="row permissions">

            <div class="col-md-8 offset-md-2 d-flex mt-5 justify-content-center flex-column mb-3">
                <div class="faq-question">The @ protocol can make you money and make your life easier - what’s not to
                    like?</div>
                <div class="faq-answer mt-2">
                    The most tedious part of building an app is the user/data management, it can also be the most
                    expensive to host due to the higher cost of database servers and backups. By developing on the @
                    protocol you remove all that work.
                    <br>
                    By developing on the protocol and allowing people to own their own data, your product will also
                    automatically comply with the GDPR and CCPA, as well as a host of other privacy legislation that is
                    in the works.

                    <br>
                    It gets even better, you can make money when your customers sign up for a custom @sign.
                    <br>

                    We also promise to promote our early developers with our PR efforts.
                    <br>
                    <div class="mt-3">Here is a summary of the advantages of developing with the @ protocol:
                    </div>
                    <ul class="mt-3">
                        <li>
                            Earn commissions on custom @signs
                        </li>
                        <li>
                            Automatic privacy compliance
                        </li>
                        <li>
                            Create true peer-to-peer apps
                        </li>
                        <li>
                            30% less code to write
                        </li>
                        <li>
                            Save up to 50% of hosting costs
                        </li>
                        <li>
                            Save liability for user data
                        </li>
                        <li>
                            Provide a better user experience (easy onboarding)
                        </li>
                        <li>
                            Decrease time-to-market
                        </li>
                        <li>
                            Save 50%-95% of support overhead (no passwords)
                        </li>
                    </ul>
                    <br>
                    Please let us know if you are interested in developing on the @ protocol
                    Email sign-up (email should be sent to <a href="mailto:developers@atsign.com"
                        class="standard-color pointer-cursor">developers@atsign.com</a>)

                </div>
            </div>


        </div>
    </div>
</main>
<app-home-common></app-home-common>