<div style="max-width: 600px;">
  <div mat-dialog-title>
    <h4 style="margin: auto">Terms & Condition</h4>
    <span> <i class="fa fa-times-circle mr-2" (click)="onNoClick()"></i>
    </span>
  </div>
  <div class="p-3">
    <p>The purpose of a Terms and Conditions agreement is to <strong>prevent misunderstandings</strong> between the
      business owner (you), and the consumer. The agreement helps you:</p>
    <ul>
      <li>Protect your intellectual property</li>
      <li>Avoid website abuse</li>
      <li>Define the limits of your legal obligations to the consumer</li>
    </ul>
    <p>Essentially, the T&amp;C helps you run your business <strong>more effectively</strong> and with greater peace of
      mind.</p>
  </div>
</div>
